body {
  margin:0;
  font-family: Arial;
  background:#0b0b0b;
  color:#fff;
}

header {
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#000;
  box-shadow:0 0 15px #ff0033;
}

nav {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:10px;
}

nav button {
  background:#111;
  color:#ff0033;
  border:1px solid #ff0033;
  padding:10px;
  margin:5px;
  border-radius:10px;
}

.product {
  background:#1a1a1a;
  margin:10px;
  padding:10px;
  border-radius:10px;
  box-shadow:0 0 8px #ff0033;
}

.controls {
  display:flex;
  justify-content:flex-end;
}

.controls button {
  background:#ff0033;
  color:white;
  border:none;
  padding:8px 14px;
  font-size:18px;
  border-radius:50%;
}

#finalizar {
  position:fixed;
  bottom:10px;
  width:90%;
  margin:5%;
  background:#ff0033;
  color:white;
  padding:15px;
  border:none;
  border-radius:15px;
  font-size:18px;
}

.popup {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  display:none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:9998;
}

.popup input, select {
  margin:10px;
  padding:10px;
  width:80%;
}

.popup button {
  padding:10px 20px;
  background:#ff0033;
  color:white;
  border:none;
}

#splash {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

#splashLogo {
  width:200px;
  filter: drop-shadow(0 0 15px #ff0033);
  animation:pulse 2s infinite alternate;
}

@keyframes pulse {
  from {transform:scale(1);}
  to {transform:scale(1.1);}
}













