body {
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

button {
  background: #ff0033;
  border: none;
  padding: 12px 20px;
  margin: 5px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px red;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 20px red;
}

#produtos div {
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

#cart-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  background: red;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#carrinho {
  position: fixed;
  top: 60px;
  right: 10px;
  background: #111;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

/* Splash */
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash img {
  width: 200px;
}













