body {
  margin:0;
  font-family: Arial;
  background:#111;
  color:#fff;
}

header {
  background:#000;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#cartBtn {
  cursor:pointer;
  font-size:20px;
}

#categories {
  display:flex;
  justify-content:space-around;
  padding:10px;
}

#categories button {
  background:#222;
  color:#fff;
  border:none;
  padding:10px;
  border-radius:10px;
}

#products .product {
  background:#222;
  margin:10px;
  padding:10px;
  border-radius:10px;
}

.product button {
  padding:5px 10px;
  margin:5px;
}

.modal {
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal-content {
  background:#222;
  padding:20px;
  border-radius:10px;
  width:90%;
}














