body{
margin:0;
font-family:Arial;
background:black url("textura.png");
color:white;
text-align:center;
}

.hidden{display:none;}

button{
background:#ff0033;
border:none;
padding:12px 20px;
margin:6px;
border-radius:10px;
color:white;
font-size:16px;
}

.logo{
width:180px;
margin-top:20px;
}

#splash{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
align-items:center;
justify-content:center;
z-index:999;
}

.logo-splash{
width:70%;
animation:pulse 2s infinite;
}

@keyframes pulse{
0%{transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}

#produtos div{
background:#111;
margin:10px;
padding:10px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
}

.qty{
display:flex;
align-items:center;
gap:5px;
}

.qty span{
min-width:20px;
display:inline-block;
}

#carrinho{
position:fixed;
bottom:0;
background:#111;
width:100%;
padding:15px;
}

#carrinho-btn{
position:fixed;
top:10px;
right:10px;
background:red;
padding:10px;
border-radius:50%;
}

.footer-blur{
position:fixed;
bottom:0;
width:100%;
background:rgba(0,0,0,0.7);
backdrop-filter: blur(5px);
padding:10px;
font-size:14px;
}





