* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("textura.png") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

/* SPLASH */
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.splash-logo {
  width: 70%;
  max-width: 250px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {transform: scale(0.9); opacity:0.6;}
  100% {transform: scale(1); opacity:1;}
}

.hidden {
  display: none;
}

/* HEADER */
header {
  margin-top: 15px;
}

.menu-logo {
  width: 180px;
  margin-bottom: 15px;
}

/* BOTÕES PRINCIPAIS */
#main-buttons button {
  width: 90%;
  padding: 18px;
  margin: 10px auto;
  font-size: 22px;
  border-radius: 15px;
}

/* BOTÕES */
button {
  background: #ff0033;
  color: white;
  border: none;
  box-shadow: 0 0 15px red;
  cursor: pointer;
}

/* CATEGORIAS */
#categorias button {
  width: 90%;
  margin: 5px auto;
  padding: 15px;
}

/* PRODUTOS */
#produtos div {
  background: rgba(0,0,0,0.7);
  margin: 10px auto;
  padding: 12px;
  border-radius: 15px;
  width: 90%;
}

/* CARRINHO */
#cart-icon {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: red;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0 0 15px red;
}

#carrinho {
  position: fixed;
  bottom: 70px;
  right: 10px;
  background: #111;
  width: 90%;
  max-width: 350px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 15px red;
}














