/* ===== BASE DO APP ===== */
body{
  margin:0;
  background:#0a0a0a;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* TOPO */
.topo{
  text-align:center;
  padding:20px;
  background:#050505;
  box-shadow:0 0 20px #7b2cff;
}

.topo img{
  width:240px;
}

/* MENU */
nav{
  max-width:520px;
  margin:15px auto;
  padding:0 10px;
}

nav button{
  width:100%;
  padding:20px;
  margin:10px 0;
  font-size:22px;
  font-weight:bold;
  background:#6a1fff;
  border:none;
  border-radius:16px;
  color:#fff;
  box-shadow:0 0 12px #7b2cff;
}

/* CONTEÚDO */
main{
  max-width:520px;
  margin:auto;
  padding:10px;
}

section{
  background:#111;
  padding:20px;
  border-radius:16px;
  margin-bottom:15px;
  border:1px solid #7b2cff;
}

.hidden{
  display:none;
}

h2{
  text-align:center;
  font-size:24px;
}

/* ITENS */
.item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:12px 0;
}

.item button{
  padding:10px 14px;
  font-size:16px;
  background:#7b2cff;
  color:#fff;
  border:none;
  border-radius:10px;
}

/* BOTÕES */
.subbotao{
  width:100%;
  padding:18px;
  font-size:20px;
  margin:10px 0;
  border-radius:14px;
  background:#1a1a1a;
  color:#fff;
  border:2px solid #7b2cff;
}

.voltar{
  margin-bottom:15px;
  background:none;
  color:#7b2cff;
  font-size:16px;
  border:none;
}

/* CARRINHO */
input{
  width:100%;
  padding:16px;
  font-size:20px;
  border-radius:12px;
  border:none;
  margin:10px 0;
}

ul{
  list-style:none;
  padding:0;
}

ul li{
  margin:6px 0;
  font-size:18px;
}

.total{
  font-size:24px;
  text-align:center;
  margin:15px 0;
}

.finalizar{
  width:100%;
  padding:20px;
  font-size:22px;
  background:#25D366;
  border:none;
  border-radius:16px;
  font-weight:bold;
}

